@charset "UTF-8";

/*--------COLORS--------*/
html {
	color: #FFFFFF;

	--color-white: #FFFFFF;
	--color-black: #100F0D;
	--color-black-drk: #000000;
	--color-sand-dark: #1F1E1C;
	--color-sand-light: #8D826E;
	--color-taupe-light: #E4DFDD;
	--color-blue: #6C748C;
}

/*--------TYPOGRAPHY--------*/
html {
	font-family: 'Crimson Pro', serif;
	--font-primary: 'Crimson Pro', serif;
	font-size: 62.5%;
}
h1, h2, h3, h4, h5, h6, p, .button, blockquote {
	color: var(--color-white);
}
h2, h3, .button, a {
	font-family: 'Cabin', sans-serif;
}
h3, h4, h5, h6 {
	margin: 1rem 0;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
}
h1, h3 {
}
h1 {
	font-family: 'Crimson Pro', serif;
	font-size: 110px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 16.8px;
}
h2 {
	font-size: 50px;
	font-weight: 200;
	letter-spacing: 1px;
}
h3 {
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 3.12px;
	margin: 1rem 0;
}
h4 {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0px;
}
h5 {
	font-weight: 700;
	letter-spacing: 1.2px;
	font-size: 20px;
}
h6 {
	font-weight: 700;
	font-size: 16px;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
p, figcaption, address, nav a {
	font-size: 20px;
	color: var(--color-white);
	font-weight: 400;
	letter-spacing: 1.125px;
	line-height: 1.6;
	max-width: 950px;
}
/* link, visited, active links */
a:link, a:visited, a:active {
	color: white;
	text-decoration: none;
}
/* mouse over link */
a:hover {
	color: #8D826E;
	text-decoration: underline;
}
.italic {
	font-style: italic;
	font-size: inherit;
	font-weight: inherit;
}
.all-caps input {
	text-transform: uppercase;
}
.button {
	display: inline-block;
	border: solid 3px white;
	padding: 16px 15px;
	color: white;
	background-color: #1F1E1C;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}


/*--------MAIN LAYOUT--------*/
html, body {
	scroll-behavior: smooth;
	overflow: visible;
	margin: 0 auto;
	background-color: #1F1E1C;
	font-family: "Crimson Pro";
}
* {
	box-sizing:  border-box;
}
main {
}

/*--------HEADER/NAVBAR--------*/
header nav {
	z-index: 9999;
	width: 100%;
	padding: 13px;
	background: rgba(0, 0, 0, 0.5);
}
header nav ul {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5%;
}
header nav ul li {
	display: block;
	width: 100%;
	border: none;
	padding: 11px;
	text-align: center;
}
header nav ul li:nth-child(1) img {
	border: none;
	height: 1em;
}
header nav ul li:nth-child(6) {
	border: solid 3px white;
	text-transform: uppercase;
}
.sticky {
	width: 100%;
	position: fixed;
	top: 0px;
}

/*--------HERO--------*/
.hero-home, .hero-history, .hero-reconstruction, .hero-author-container, .hero-credits, .maze-blurb-container {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("img/home-maze-background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow-wrap: break-word;
	height: 100%;
	width: 100%;
}
/* hero background images */
.hero-home-container {
	background-image: url("img/home-hero.jpg");
	text-align: center;
}
.hero-history {
	background-image: linear-gradient(transparent, #1F1E1C), url("img/history-hero.jpg");
}
.hero-reconstruction {
	background-image: linear-gradient(transparent, #1F1E1C), url("img/reconstruction-hero.jpg");
}
.hero-author-container {
	background-image: linear-gradient(transparent, #1F1E1C), url("img/author-hero.jpg");
}
.hero-credits {
	background-image: linear-gradient(transparent, #1F1E1C), url("img/credits-hero.jpg");
}
.maze-blurb-container {
	background-image: url("home-maze-background.jpg");
}

/*--------MAZE CONTENT--------*/
.maze-blurb-container {
	background-color: #E4DFDD;
	background-image: url("img/home-maze-background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
	text-align: center;
}
#maze-blurb-quote-large {
	font-size: 35pt;
	color: black;
}
.maze-blurb p {
	margin: 66px auto 50px;
	font-size: 20pt;
	color: black;
}
.maze-blurb .button {
	display: inline-block;
	border: none;
	border-radius: 15px;
	box-shadow: 5px 5px 6px black;
	padding: 25px;
	color: white;
	background-color: #45271C;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

/*--------SECTION CONTENT--------*/
section {
	max-width: 1920px;
	gap: 6.5%; 
	margin: auto;
	height: 37%;
	padding: 145px 6.5% 162px;
	display: flex;
}
.sct-content p {
	padding-top: 39px;
	margin-bottom: 39px;
}

/* flex columns, flex centered, grid boxes */
.flex-columns-text {
	width: 67%;
}
.flex-columns-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 33%;
	margin: 0px auto;
}
.flex-centered-text {
	width: 67%;
	border:  solid 1px red;
}
.grid-boxes {
}
.grid-boxes-img {
}

/*--------FOOTER--------*/
footer {
	display: flex;
	flex-basis: auto;
	justify-content: space-between; 
	margin: 0px auto;
	padding: 2% 5% 2% 2%;
	background-color: #100F0D;	
}
.footer-logo, .footer-about, .footer-contact, .footer-nav {
	max-width: 510px;
	margin: 0px 2.5% 0px;
}
.footer-logo {
	max-width: 300px;
	margin-top: 2%;
}
.footer-vg22-logo {
	margin: 0px auto;
	width: 100%;
	max-width: 510px;
}
.footer-organization-icons {
	display: flex;
	flex-wrap: wrap;
}
#cmdc-logo {
	max-height: 70px;
	margin: 30px 1rem 30px 0px;
}
#elo-logo {
	max-height: 49px;
	margin: 30px 1.5rem;
}
#ell-logo {
	max-height: 78px;
	margin: 30px 0px 30px 1rem;
}
.footer-nav li a {
	margin: 1rem 0px;
	text-align: left;
	border: none;
	font-family: cabin;
}

/*--------COPYRIGHT--------*/
.copyright p {
	max-width: none;
	margin: auto;
	padding: 1rem 0;
	background-color: black;
	font-size: ;
	text-align: center;
}

/*--------IMAGES--------*/
figure img {
	width: 100%;
	max-width: 510px;
	vertical-align: top;
}
figcaption {
	padding: 10px;
	caption-side: bottom;
	text-align: center;
}





/* - - - - - - - - - - - - - - - desktop styles - - - - - - - - - - - - - - - */
@media only screen and (min-width: 769px)


/* - - - - - - - - - - - - - - - tablet styles - - - - - - - - - - - - - - - */

/* @media only screen and (min-width: 600px) and (max-width: 768px) { */


/* - - - - - - - - - - - - - - - default/mobile styles - - - - - - - - - - - - - - - */

/* @media only screen and (max-width: 600px) {
	section {
		display: wrap;
		flex-wrap: wrap;
	}
} */




/* all class attributes

.allcaps
.italics
.button

.header-nav
.header-nav-item
.sticky

.sct-content
.flex-columns
.flex-columns-text
.flex-columns-img
.flex-boxes
.flex-boxes-text
.flex-boxes-statistics
.flex-boxes-img
.flex-centered
.flex-centered-text
.grid-boxes
.grid-boxes-img

.hero-home-container
.hero-home
.hero-home-author
.hero-home-statement
.maze-blurb-container
.maze-blurb
.home-1
.home-2
.home-3

.history-1
.history-2
.history-3
.history-4

.reconstruction-1
.reconstruction-2
.reconstruction-3
.reconstruction-4
.reconstruction-5
.carousel-container
.image-carousel
.carousel-img

.hero-author
.author-1
.author-2
.author-3

.credits-1

.flex-footer
.footer-logo
.footer-vg22-logo
.footer-about
.footer-contact
.footer-organization-icons
.icons
.footer-nav
.footer-nav-item
.copyright  */




/* all id attributes

#header-nav-blank

#hero-home-author
#hero-home-statement
#maze-blurb-quote-large

#cmdc-logo
#elo-logo
#ell-logo  */